# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Belyy Yar,RU,53.6039,91.3903,40.89,60,0,4.47,clear sky
1,1,Bredasdorp,ZA,-34.5322,20.0403,49.51,78,53,4.79,broken clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,42.46,87,0,11.50,clear sky
3,3,Rikitea,PF,-23.1203,-134.9692,70.32,61,91,23.91,overcast clouds
4,4,Mataura,NZ,-46.1927,168.8643,37.47,87,98,11.63,light rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
6,6,Georgetown,MY,5.4112,100.3354,85.89,75,20,8.05,few clouds
9,9,Vung Tau,VN,10.3460,107.0843,84.40,74,98,17.47,heavy intensity rain
16,16,Lorengau,PG,-2.0226,147.2712,85.03,72,86,12.46,overcast clouds
20,20,Araouane,ML,18.9048,-3.5265,89.06,13,1,5.64,clear sky
21,21,Bubaque,GW,11.2833,-15.8333,81.36,78,58,9.31,broken clouds
22,22,Mahajanga,MG,-15.7167,46.3167,80.62,50,0,11.50,clear sky
25,25,Dawei,MM,14.0833,98.2000,88.45,62,86,2.19,overcast clouds
33,33,Kunya,NG,12.2233,8.5325,76.78,70,99,6.02,overcast clouds
37,37,Bambanglipuro,ID,-7.9500,110.2833,83.30,66,100,12.33,overcast clouds
39,39,Kapaa,US,22.0752,-159.3190,82.38,79,75,14.97,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
6,6,Georgetown,MY,5.4112,100.3354,85.89,75,20,8.05,few clouds
9,9,Vung Tau,VN,10.3460,107.0843,84.40,74,98,17.47,heavy intensity rain
16,16,Lorengau,PG,-2.0226,147.2712,85.03,72,86,12.46,overcast clouds
20,20,Araouane,ML,18.9048,-3.5265,89.06,13,1,5.64,clear sky
21,21,Bubaque,GW,11.2833,-15.8333,81.36,78,58,9.31,broken clouds
22,22,Mahajanga,MG,-15.7167,46.3167,80.62,50,0,11.50,clear sky
25,25,Dawei,MM,14.0833,98.2000,88.45,62,86,2.19,overcast clouds
33,33,Kunya,NG,12.2233,8.5325,76.78,70,99,6.02,overcast clouds
37,37,Bambanglipuro,ID,-7.9500,110.2833,83.30,66,100,12.33,overcast clouds
39,39,Kapaa,US,22.0752,-159.3190,82.38,79,75,14.97,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

             City Country  Max Temp           Description      Lat       Lng
6      Georgetown      MY     85.89            few clouds   5.4112  100.3354
9        Vung Tau      VN     84.40  heavy intensity rain  10.3460  107.0843
16       Lorengau      PG     85.03       overcast clouds  -2.0226  147.2712
20       Araouane      ML     89.06             clear sky  18.9048   -3.5265
21        Bubaque      GW     81.36         broken clouds  11.2833  -15.8333
22      Mahajanga      MG     80.62             clear sky -15.7167   46.3167
25          Dawei      MM     88.45       overcast clouds  14.0833   98.2000
33          Kunya      NG     76.78       overcast clouds  12.2233    8.5325
37  Bambanglipuro      ID     83.30       overcast clouds  -7.9500  110.2833
39          Kapaa      US     82.38         broken clouds  22.0752 -159.3190

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
6,Georgetown,MY,85.89,few clouds,5.4112,100.3354,
9,Vung Tau,VN,84.40,heavy intensity rain,10.3460,107.0843,
16,Lorengau,PG,85.03,overcast clouds,-2.0226,147.2712,
20,Araouane,ML,89.06,clear sky,18.9048,-3.5265,
21,Bubaque,GW,81.36,broken clouds,11.2833,-15.8333,
22,Mahajanga,MG,80.62,clear sky,-15.7167,46.3167,
25,Dawei,MM,88.45,overcast clouds,14.0833,98.2000,
33,Kunya,NG,76.78,overcast clouds,12.2233,8.5325,
37,Bambanglipuro,ID,83.30,overcast clouds,-7.9500,110.2833,
39,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
6,Georgetown,MY,85.89,few clouds,5.4112,100.3354,Cititel Penang
9,Vung Tau,VN,84.40,heavy intensity rain,10.3460,107.0843,Seaside Resort
16,Lorengau,PG,85.03,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
20,Araouane,ML,89.06,clear sky,18.9048,-3.5265,
21,Bubaque,GW,81.36,broken clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
22,Mahajanga,MG,80.62,clear sky,-15.7167,46.3167,Hôtel Restaurant Gourmand Coco Lodge Majunga
25,Dawei,MM,88.45,overcast clouds,14.0833,98.2000,Hotel Dawei
33,Kunya,NG,76.78,overcast clouds,12.2233,8.5325,
37,Bambanglipuro,ID,83.30,overcast clouds,-7.9500,110.2833,Puri Brata
39,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [14]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
6,Georgetown,MY,85.89,few clouds,5.4112,100.3354,Cititel Penang
9,Vung Tau,VN,84.40,heavy intensity rain,10.3460,107.0843,Seaside Resort
16,Lorengau,PG,85.03,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
20,Araouane,ML,89.06,clear sky,18.9048,-3.5265,
21,Bubaque,GW,81.36,broken clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
22,Mahajanga,MG,80.62,clear sky,-15.7167,46.3167,Hôtel Restaurant Gourmand Coco Lodge Majunga
25,Dawei,MM,88.45,overcast clouds,14.0833,98.2000,Hotel Dawei
33,Kunya,NG,76.78,overcast clouds,12.2233,8.5325,
37,Bambanglipuro,ID,83.30,overcast clouds,-7.9500,110.2833,Puri Brata
39,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [30]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [15]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [16]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [17]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>few clouds and 85.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Seaside Resort</dd>\n<dt>City</dt><dd>Vung Tau</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 84.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lorengau Harbourside Hotel</dd>\n<dt>City</dt><dd>Lorengau</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 85.03 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Araouane</dd>\n<dt>Country</dt><dd>ML</dd>\n<dt>Current Weather</dt><dd>clear sky and 89.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Dora, Bubaque</dd>\n<dt>City</dt><dd>Bubaque</dd>\n<dt>Country</dt><dd>GW</dd>\n<dt>Current Weather</dt><dd>broken clouds and 81.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Restaurant Gourmand Coco Lodge Majunga</dd>\n<dt>City</dt><dd>Mahajanga</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Dawei</dd>\n<dt>City</dt><dd>Dawei</dd>\n<dt>Country</dt><dd>MM</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 88.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Kunya</dd>\n<dt>Country</dt><dd>NG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Puri Brata</dd>\n<dt>City</dt><dd>Bambanglipuro</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 83.3 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>broken clouds and 82.38 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [18]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
6    5.4112  100.3354
9   10.3460  107.0843
16  -2.0226  147.2712
20  18.9048   -3.5265
21  11.2833  -15.8333
22 -15.7167   46.3167
25  14.0833   98.2000
33  12.2233    8.5325
37  -7.9500  110.2833
39  22.0752 -159.3190

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [19]:
# Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer

fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))